*~
*.o
exe
obj
lib
tools/build_libsmm/lib
tools/build_libsmm/*.mod
tools/build_libsmm/*.x
.svn
TAGS
web/manual/*.html
web/manual/CP2K_INPUT
web/manual/cp2k_input.xml
src/preprettify
tools/formatting/*.pyc
*.stdout
